<% provide(:title, 'Sign up') %>

    <h1>Sign up</h1>
    <p>
      This is the signup page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
